#
# huawei touchscreen driver configuration
#

menuconfig HUAWEI_TS_KIT
	tristate "huawei TS_KIT drivers"
	default n
	help
	  If you say yes here you get support for huawei touchscreen.
menuconfig HUAWEI_TS_KIT_COMMON
	bool "huawei TS_KIT common"
	default n
	help
	  If you say yes here you get support for huawei touchscreen.

source "drivers/devkit/tpkit/panel/Kconfig"


